<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      Registrasi Pasien
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="info">
    Lengkapi data pasien dengan benar !
  </div>

  <ion-item class="ion-no-padding">
    <ion-label position="stacked">Nama <span>*</span></ion-label>
    <ion-input (ionChange)="onInput($event)" type="text" [(ngModel)]="pasien.nama"></ion-input>
  </ion-item>
  
  <ion-row class="ion-no-padding">
    <ion-col size="7" class="ion-no-padding">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Jenis Kelamin <span>*</span></ion-label>
        <ion-select (ionChange)="onInput($event)" placeholder="Pilih Jenis Kelamin" [(ngModel)]="pasien.jenis_kelamin">
          <ion-select-option *ngFor="let jk of jenis_kelamin" value="{{ jk.id }}" color="light">{{ jk.jenis_kelamain }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="4" class="ion-no-padding">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Umur <span>*</span></ion-label>
        <ion-input (ionChange)="onInput($event)" placeholder="Umur" type="number" [(ngModel)]="pasien.umur"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item class="ion-no-padding">
    <ion-label position="stacked">Pekerjaan <span>*</span></ion-label>
    <ion-select (ionChange)="onInput($event)" placeholder="Pilih Pekerjaan" [(ngModel)]="pasien.pekerjaan">
      <ion-select-option *ngFor="let pekerjaan of pekerjaan" value="{{ pekerjaan.id }}">{{  pekerjaan.pekerjaan}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="stacked">Pendidikan <span>*</span></ion-label>
    <ion-select (ionChange)="onInput($event)" placeholder="Pilih Pendidikan" [(ngModel)]="pasien.pendidikan">
        <ion-select-option text-wrap *ngFor="let pendidikan of pendidikan" value="{{ pendidikan.id }}">{{  pendidikan.pendidikan }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-no-padding">
    <ion-label position="stacked">Agama <span>*</span></ion-label>
    <ion-select (ionChange)="onInput($event)" placeholder="Pilih Agama" [(ngModel)]="pasien.agama">
        <ion-select-option *ngFor="let agama of agama" value="{{ agama.id }}">{{  agama.agama }}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item class="ion-no-padding">
    <ion-label position="stacked">Status Perkawinan <span>*</span></ion-label>
    <ion-select (ionChange)="onInput($event)" placeholder="Pilih Status Perkawinan" [(ngModel)]="pasien.statuspk">
        <ion-select-option *ngFor="let status_kawin of status_kawin" value="{{ status_kawin.id }}">{{  status_kawin.status_perkawinan}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" shape="round" mode="ios" color="secondary" (click)="save()" [disabled]="disabled_btn">
      Lanjutkan
    </ion-button>
  </ion-toolbar>
</ion-footer>